<div class="row-fluid">
    <div class="span12">
        <div class="titleBox">
            <h1 class="huge">Nuestros Usuarios</h1>
        </div>
    </div>
</div>
<!-- / row-fluid -->


<div class="row-fluid">
    <div class="span12">
        <div class="lineBox right">
            <div class="inner">
                <a href="/index" class="btn metaIcon" data-toggle="tooltip" title="Home"><span class="entypo home"><i></i>Home</span></a>
                <a href="#" class="btn btn-icon left btn-primary"><span class="entypo vcard"><i></i></span> Usuarios de Photolog</a>
            </div>
        </div>
    </div>
</div>
<% @users.each do |user| %> 
<div class="message"> 
  <p><%= user.nombre_usuario%> <%= user.apellido_paterno%></p> 
</div> 
<% end %>