<div class="row-fluid">
    <div class="span12">
        <div class="titleBox">
            <h1 class="huge">Mejores Fotografias</h1>
        </div>
    </div>
</div>
<!-- / row-fluid -->


<div class="row-fluid">
    <div class="span12">
        <div class="lineBox right">
            <div class="inner">
                <a href="/index" class="btn metaIcon" data-toggle="tooltip" title="Home"><span class="entypo home"><i></i>Home</span></a>
                <a href="#" class="btn btn-icon left btn-primary"><span class="entypo vcard"><i></i></span> Más Valoradas</a>
            </div>
        </div>
    </div>
</div>
<!-- / row-fluid -->

<div class="row-fluid">
    <div class="span12">
    <% if session[:current_user_id]%>
    	<div class="lineBox short">
            <div class="inner">
                <ul class="filterPortfolio">
                    <li data-filter="filter-3"><a href="/photo/new" class="btn metaIcon" data-toggle="tooltip" title="Subir Photo"><span class="entypo camera"><i></i>Subir Photo</span></a></li>
                </ul>
            </div>
        </div>
    <% end %>
        <ul class="portfolioList col4" id="portfolio1">
            <li data-id="1" data-filter="filter-1 filter-2">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo7.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="2" data-filter="filter-2">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo1.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="3" data-filter="filter-3 filter-4">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo7.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="4" data-filter="filter-2">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo1.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="5" data-filter="filter-1">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo7.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="6" data-filter="filter-4">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo1.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="7" data-filter="filter-2 filter-4">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo7.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="8" data-filter="filter-3">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo1.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
            <li data-id="9" data-filter="filter-2 filter-4">
                <div class="easyBox">
                    <a href="#"><img src="images/content/photo7.jpg" alt=" "></a>
                    <div class="inner">
                        <a href="#"><span class="entypo camera metaText"><i></i>photography</span></a>
                        <h3 class="light"><a href="#">Sons of the Sun</a></h3>
                        <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /row-fluid -->

<% @photo.each do |photo| %> 
<div class="message"> 
  <p><%= photo.id_fotografia %> <%= photo.titulo_fotografia%></p> 
</div> 
<% end %>