<!DOCTYPE html>
<html>
<head>
  <title>Photolog</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="boxedWrapper">

		<div class="navbar navbar-static-top">
		    <div class="navbar-inner">
		        <div class="container">
		            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="brand" href="index.html">PhotoLog</a>

		            <div class="nav-collapse">
		                <ul class="nav pull-left">
		                    <li class="active dropdown">
		                        <a href="index.html" class="dropdown-toggle">Home</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="index.html">Home Slider 1</a></li>
		                            <li><a href="invia-home-II.html">Home Slider 2</a></li>
		                            <li><a href="invia-home-boxed.html">Home Boxed</a></li>
		                            <li><a href="invia-horizontal-menu.html">Horizontal Submenu</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="invia-aboutus.html" class="dropdown-toggle">Pages</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="invia-aboutus.html">About</a></li>
		                            <li><a href="invia-aboutus2.html">About II</a></li>
		                            <li><a href="invia-elements-404.html">404</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="invia-site-elements.html" class="dropdown-toggle">Features</a>

		                        <ul class="dropdown-menu unstyled">
		                            <li><a href="invia-site-elements.html">Elements</a></li>
		                            <li><a href="invia-pricing-tables.html">Pricing Tables</a></li>
		                            <li class="dropdown-submenu"><a href="#">Submenu</a>
		                                <ul class="dropdown-menu unstyled">
		                                    <li class="dropdown-submenu"><a href="#">This is an Example</a>
		                                        <ul class="dropdown-menu unstyled">
		                                            <li><a href="#">Page1</a></li>
		                                            <li><a href="#">Page2</a></li>
		                                        </ul>
		                                    </li>
		                                    <li><a href="#">On Third Level</a></li>
		                                    <li><a href="#">Navigation Item</a></li>
		                                </ul>
		                            </li>
		                        </ul>
		                    </li>
		                    <li>
		                    <li class="dropdown">
		                        <a href="invia-portfolio.html" class="dropdown-toggle">Work</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="invia-portfolio-2columns.html">2 Columns</a></li>
		                            <li><a href="invia-portfolio.html">3 Columns</a></li>
		                            <li><a href="invia-portfolio-4columns.html">4 Columns</a></li>
		                            <li><a href="invia-portfolio-details.html">Portfolio Details</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="invia-blog.html" class="dropdown-toggle">Blog</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="invia-blog.html">Blog List</a></li>
		                            <li><a href="invia-blogpost.html">Single Blog</a></li>
		                        </ul>
		                    </li>
		                    <li class="dropdown">
		                        <a href="invia-home-blue.html" class="dropdown-toggle">Colors</a>
		                        <ul class="dropdown-menu">
		                            <li><a href="invia-home-blue.html">Blue</a></li>
		                            <li><a href="invia-home-green.html">Green</a></li>
		                            <li><a href="invia-home-red.html">Red</a></li>
		                            <li><a href="invia-home-bw.html">B &amp; W</a></li>
		                            <li><a href="invia-home-yellow.html">Yellow</a></li>
		                        </ul>
		                    </li>
		                    <li>
		                        <a href="invia-contact.html">Contact</a>
		                    </li>
		                </ul>
		            </div>
		            <!-- / nav-collapse -->
		            <ul class="menuIcon pull-right">
		                <li class="search"><a href="#">search</a></li>
		            </ul>
		        </div>
		    </div>
		</div>

		<!-- main container -->
		<div class="container">

			<%= yield %>

		</div>

		<div id="footer">
		    <div class="container">
		        <div class="row-fluid">
		            <div class="span6">
		                <h4 class="medium">Acerca de Photolog</h4>
		                <p>
		                    Aenean imperdiet fringilla ligula, ut mollis mi venenatis quis. Nunc ullamcorper cursus eros, nec sodales tellus pulvinar id. Praesent nec lectus nec felis aliquet condimentum id non velit.
		                </p>
		            </div>
		            <div class="span6">
		                <h4 class="medium"> </h4>
		            </div>
		        </div>
		    </div>

		    <div class="footNotes">
		        <div class="container">
		            <div class="row-fluid">
		                <div class="span4">
		                    <p><a href="#">Photolog</a></p>
		                </div>
		                <div class="span4">
		                    <p>Ulloa - Cerda - Villagra</p>
		                </div>
		                <div class="span4 doRight">
		                    <p>© 2015 Todos los derechos Reservados </p>
		                </div>
		            </div>
		            <!-- / row-fluid -->
		        </div>
		    </div>
		    <!-- / footNotes -->
		</div>
		<!-- / footer -->
		<a href="#" id="toTop" class="entypo up-open"><i></i> Back to top</a>
	</div>
	<!-- / boxedWrapper -->

	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/jquery.contenthover.min.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>



